.product-types-container {
    display: flex;
    background-color: red;
}

.product-types-image {
    flex: 1;
    border: 1px solid black;
}

.product-types-image img {
    width: 100%;
}

.product-types-posts {
    flex: 4;
    background-color: blue;
}